<div>
  <ul class="card-list" style="margin-bottom: 0px; padding-left: 0px;">
    <li class="card-item">
      <div class="card-left">
        <strong>{{ details[0].title }}</strong>
        <p>{{ details[0].summary }}</p>
      </div>
    </li>
    <li class="card-item">
      <div class="card-center">
        <strong>{{ details[1].title }}</strong>
        <p>{{ details[1].summary }}</p>
      </div>
    </li>
    <li class="card-item">
      <div class="card-right">
        <strong>{{ details[2].title }}</strong>
        <p>{{ details[2].summary }}</p>
      </div>
    </li>
  </ul>
</div>
